@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: normal;
    src: local('Kaushan Script'), url('fonts/KaushanScript-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Mcgannahan';
    src:url('fonts/Mcgannahan.ttf.woff') format('woff'),
        url('fonts/Mcgannahan.ttf.svg#Mcgannahan') format('svg'),
        url('fonts/Mcgannahan.ttf.eot'),
        url('fonts/Mcgannahan.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body
{
 margin:0px;
}



header
{
	display: flex;
	background-color: #579c87;
	justify-content: center;
	color:#fdcb46;
	font-size: 40px;
	font-weight: bold;
	
}


img {
  margin: 40px 0px 40px 0px;
  max-width: 100%;
  height: auto;
  width: 300px;
}


main
{
	background-color: #eff1ef;
	margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
	 font-family: 'Mcgannahan';
}


h1
{
	font-size: 30px;
	text-align: center;
}

h2
{
	text-align: center;
	padding-top:50px;
	padding-bottom: 50px;
	font-size: 60px;
    background: -webkit-linear-gradient(#3d9339, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.underline
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 20px;
}


.trait
{
	width: 400px;
}


.underline h3 {
    text-align: center;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.underline h3:after {
	height: 2px;
    width: 0;
    display: block;
    content:''; 
    transition: all 0.3s ease-in-out;
}

.underline h3:hover:after {
    width: 100%;
    background: -webkit-linear-gradient(#3d9339, #bfff7e);
}


li
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-right: 30px;
	font-size: 20px;
}

#bottom
{
	padding-bottom: 50px;
	margin-bottom: 60px;
}


footer
{
	display: flex;
	background-color: #579c87;
	justify-content: space-between;
	color:#fdcb46;
	font-size: 25px;
	padding-left: 10px;
	padding-right: 10px;
	position: sticky;
	bottom :0px;

	}

a
  {
    text-decoration: none; color:#fdcb46;
  }


  .wiggle:hover {
 
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

 

  @media screen and (max-width: 1000px)
{


main
{
	background-color: #eff1ef;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	font-family: 'Mcgannahan';
}


section
  {
   display: flex;
  flex-direction: column;
    width: 100%;
    text-align: center;
  }

    li
{
  display: flex;
  flex-direction: column;
  margin:auto;
}

 .prix
{
	font-size: 30px;
}
 }